# 编译输出目录
/build/
/out/
/bin/
/cmake-build-debug/
/CMakeFiles/
/Makefile
/*.o
/*.obj
/*.exe
/*.out
/*.so
/*.dylib
/*.dll

# CMake 产生的文件
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
Makefile

# IDE / 编辑器临时文件
.idea/
*.iml
.vscode/
*.code-workspace

# 编辑器备份 / 临时文件
*~
.#*
*.swp
*.swo
*.bak
*.tmp
